@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&family=Rubik+Dirt&display=swap');
@font-face {
    font-family: 'Vikram';
    src: url('VikramPosterFont-Regular.otf'), url('VikramPosterFont-Regular.otf') format('truetype'), url('fonts/EntezareZohoor2.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'reg';
    src: url('Regensburg.ttf'), url('Regensburg.ttf') format('truetype'), url('fonts/EntezareZohoor2.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}



body {
    margin: 0;
    padding: 0;
    background-color: black;
  }

  section {
    position: relative;
    height: 100vh;
overflow: hidden;
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    filter: brightness(0.5);
    transform: scale(1.5);
  }

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Adjust the width of the content area */

  }

  .image {
    float: left;
    
    width: 50%; /* Adjust the width of the image */
    box-sizing: border-box;
  }
  .text {
    float: right;
    width: 50%; /* Adjust the width of the text */
    box-sizing: border-box;
    font-family: marvel;
   padding: 20px;
  
    color: white; 
    /* Add padding for better readability */
  }
  .text h1{
    
    font-size: 40px;
    font-family: 'Roboto Slab', serif;
    margin-bottom: 20px;
    /* Add padding for better readability */
  }
  .text p{
  
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    margin: 0px;

    /* Add padding for better readability */
  }

 .content img {
    width: 80%;
    height: auto;
    display: block; /* Remove any extra spacing below the image */
  }
  .text .what{
    font-family: 'Roboto Slab', serif;
    color: #ceaa4b; 
    font-size: 50px;
   
    font-weight: bolder;

  }
  .agent {
    position: relative;

    height: 100vh;
overflow: hidden;
}

.agent::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/bg.jpg");
   background-attachment: fixed;
    background-size: cover;
    filter: brightness(50%); /* Adjust the percentage as needed */
    z-index: -1;
}

  .agentfont{
    font-family: 'vikram';   
 font-size: 200px;
 text-align: center;
 color: rgb(235, 190, 190);

 transition: transform 0.8s ease-in-out;
}

.vjbg{
    position: absolute;
    top: 12%;
    left:20%
}
.vk{
  position: absolute;
  top: 12%;
  left:10%
}
.ghost{
    font-family: 'reg';
}

  .sec3{
    height: 100vh;
    position: relative;
    background-color: rgb(25, 24, 24);
  }

.zoomed {
    transform: scale(1.2);
} 

.imgcontainer{
  top: 20%; 
  position: relative;
  height: 300px;
  border-radius: 20px;
  width:400px;
  margin-left: 140px;
  margin-top: 40px;
  background:url("images/bg.jpg");
  background-size: cover;
}
.image2 {
  float: right;
  width: 50%; /* Adjust the width of the image */
  box-sizing: border-box;
}
.text2 {
  float: left;
  width: 50%; /* Adjust the width of the text */
  box-sizing: border-box;
  font-family: marvel;
 padding: 20px;

  color: white; 
  /* Add padding for better readability */
}
.vjbg3{
  position: absolute;
  top:-47%;
  left: 0;
 
  height: 400px;
  width:200px;
  
}
.text2 h1{
    
  font-size: 40px;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 20px;
  height: 45px;
  /* Add padding for better readability */
}
.text2 p{

  font-size: 20px;
  font-family: 'Roboto Slab', serif;
  margin: 0px;
  margin-top: 40px;
  

  /* Add padding for better readability */
}
.text2 #what{
  font-family: 'Roboto Slab', serif;
  color: #ceaa4b; 
  font-size: 50px;
  font-weight: bolder;
  white-space: nowrap;

}


/*Mobile Phones*/    
@media (max-width: 767px){

.text{
    float: none !important;
    width: 100% !important;
    overflow: auto;
}

.image{
 overflow: auto;
    float: none !important;
    width: 100% !important;
}
.text2{
  float: none !important;
  width: 100% !important;
  overflow: auto;
}
.text2 h1{
    
  font-size: 30px !important;
 
  /* Add padding for better readability */
}
.imgcontainer{
 margin-left: 0px;
 margin-top: 350px;
}
.image2{
overflow: auto;
  float: none !important;
  width: 100% !important;
  margin: 0px;
}
section {
    position: relative;
    height: 900px;;

  }
  .sec3{
    height: 1100px;
  }
  .content{
    width: 90%;
  }
  video{
    display: none;
  }
  .vjbg {
    top: 8%;
    left: -50%;
    
} 
.vk {
  top: 2%;
  left: -80%;
  
  
} 
.agentfont{
    font-family: 'vikram';
 font-size: 50px;
 text-align: center;
 color: rgb(246, 234, 234);

 transition: transform 0.8s ease-in-out;
} 
.agent{
    height: 700px;
}
}



@media only screen and (min-device-width:768px) and (max-device-width:1024px) and (orientation:portrait){

    .text{
        float: none !important;
        width: 100% !important;
        overflow: auto;
    }
    
    .image{
     overflow: auto;
        float: none !important;
        width: 100% !important;
    }
    .text2{
      float: none !important;
      width: 100% !important;
      overflow: auto;
    }
    
    .imgcontainer{
     margin-left: 0px;
     margin-top: 350px;
    }
    .image2{
    overflow: auto;
      float: none !important;
      width: 100% !important;
      margin: 0px;
    }
    section {
        position: relative;
        height: 900px;;
    
      }
      .sec3{
        height: 1100px;
      }
      .content{
        width: 90%;
      } 
}
